
/*
CCANB CSS STYLESHEET
*/

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
}

html, body{
	height: 100%;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #b22222;
}

h1 {
	font-size:3em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 13px;
	font-style: italic;
	
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
	list-style: none inside;
}

a {
	text-decoration: none;
	color: #B94E0E;
}

a:hover {
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	background: #FFFAF0;
	min-height: 100%;
	height: auto;
	height: 100%;
	margin: 0 auto -40px;
}

#wrappers{
	margin: 0 auto;
	padding: 0;
	background: #FFFAF0;
}

/* Header */

#header-wrapper {
	/* background: #f5fffa; */	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFACD), to(#FFFAF0));
	
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFFACD, #FFFAF0);
	
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFFACD, #FFFAF0);
	
	/* IE 10 */
	background: -ms-linear-gradient(top, #FFFACD, #FFFAF0);
	
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FFFACD, #FFFAF0);
	height: 100px;
}

/*ONLY for IE 7*/
html>body #header-wrapper { 
    *height: 112px;
}

#header {
	margin: 0 auto;
/*	background: #f5fffa; */
}

/* Logo */

#logo {
	float: left;
	height: 60px;
	margin: 0;
	padding: 0px;
	color: #FFFAF0;
}

#logo h1 {
    margin: 5px 10px 5px 10px;
    padding: 0;
    float: left;
    letter-spacing: -1px;
    font-size: 2.6em;
}

#logo h1 .image
{
    height: 100px;
}

#logo p {
    float: left;
    margin: 30px 0px 0px 0px;
    padding: 18px 0 0 0px;
    font: normal 26px Georgia, "Times New Roman" , Times, serif;
    font-style: italic;
    color: #FF7F50;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Language Bar */
#language {
	float: right;
	width: 180px;
	padding: 8px 0 30px 30px;
	margin: 0;
}

#language-text{
	width: 200px;
	text-align: left;
	background: none;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #696969;
	border: 1px #4C4842 solid;
}

/* Search */

#search {
	float: right;
	width: 250px;
	height: 55px;
	padding: 0;
}

#search form {
	height: 40px;
	margin: 0;
	padding: 8px 0 0 30px;
}

#search-button {
	position: absolute;
	padding: 2px 3px 0 0;
	right: 20px;
	
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 180px;
	padding: 6px 10px;
	border: 1px #4C4842 solid;
	background: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #696969;
}

#search-submit {
	display: none;
}


/* Menu */

#menu {
    position:relative;
	min-height: 30px;
	margin: 0 auto;
	/* padding: 5px, 10px, 0px, 10px; */
	background: #A03128;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#D96F66) to(#A03128)); /*old webkit*/
    background: -webkit-linear-gradient(#D96F66, #A03128); /*new webkit*/
    background: -moz-linear-gradient(#D96F66, #A03128); /*gecko*/
    background: -ms-linear-gradient(#D96F66, #A03128); /*IE10*/
    background: -o-linear-gradient(#D96F66, #A03128); /*opera 11.10+*/
    background: linear-gradient(#D96F66, #A03128); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#D96F66, #A03128); /*PIE*/
    behavior: url(PIE.htc);
}

#menu ul {
	display: block;
}

#menu>ul>li {
	float:left;
	padding: 5px 5px 0 5px;
	position: relative;
	margin-right: 10px;
}
/*
#menu ul li:hover {
	background: #BC8F8F;
}
*/
#menu ul li a {
	display: block;
	height: 18px;
	/*margin-right: 3px;*/
    float:left;
	padding: 0px 10px 0px 10px;
	/*background: #A03128;*/
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
    behavior: url(PIE.htc);
}

#menu>ul>li>a:hover, #IE8#HACK {
	/* background: url(images/menu-navright.jpg) center right no-repeat; */
	background: #FF6347;/*#BC8F8F;*/
    border: 1px solid #999;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/*ONLY for IE 8, no way to make border-radius work*/
#menu>ul>li>a.pie_hover {
	background: #FF6347;
    border: 1px solid #999;
}

#menu ul li a span{
	position: relative;
}

#menu ul li a span em img{
	border: none;
}

#menu ul li ul {
	display: none;
	position: absolute;
	top: 29px;
	left: 0px;
	background: #A03128;
	border: 1px solid #ccc;
	padding: 0px;
    *margin-left:0px;/*For IE7 ONLY*/
	width: 250px;
    border: 1px solid #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(PIE.htc);
}

#menu ul li ul li {
    position: relative; 
    float: none;
    padding: 0;
    *margin: 0 0 0 -17px;/*For IE7 ONLY*/
    height: 100%;
    behavior: url(PIE.htc);
}

#menu ul li ul li:hover {
	background: #FF6347;
}

#menu ul li ul li:hover:first-child {
    border: 1px solid #999;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

/*For IE 7,8*/
#menu ul li ul li[title="first"].pie_hover {
    background: #FF6347;
    border: 1px solid #999;
    border-radius: 10px 10px 0px 0px;
}

#menu ul li ul li:hover:last-child {
    border: 1px solid #999;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

/*For IE 7,8*/
#menu ul li ul li[title="last"].pie_hover {
    background: #FF6347;
    border: 1px solid #999;
    border-radius: 0px 0px 10px 10px;
}

#menu ul li ul li a {
	display: block;
	float: none;
	/*margin-left: -5px;*/
	padding: 5px 0 0 10px;
}
		
#menu ul li ul li a:hover {
	/*background: #FF6347;*/
}

/* Page */

#page {
	margin: 0 auto;
	height: auto;
	padding: 0;
	background: #FFFAF0
}

#page-bgtop {
}

#page-bgbtm {
	padding: 30px 20px 0px 20px;
}

/* Content */

#content {
	width: 100%;
	padding: 0;
}

.post {
}

.post .title {
	height: 38px;
	padding: 12px 0 0 20px;
	letter-spacing: -.5px;
	color: #181818;
}

.post .author {
	height:20px;
	padding: 12px 0 0 20px;
	letter-spacing: -.5px;
	color: #181818;
}

.post .title a {
	color: #181818;
	border: none;
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	margin-right: 30px;
	padding: 30px 20px 10px 20px;
}

.post .entry p .history
{
	font-family: arial, 'lucida console', sans-serif; 
	font-size: 13px;
}

.links {
	display: block;
	width: 130px;
	margin: 20px 0px;
	padding: 5px;
	background: #A03128;
	border-left: 20px solid #1B120B;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Footer */

#footer-wrappers{
	width: 100%;
	background: #A03128;
	height: 40px;
}

#footer-wrapper {
    position:relative;
	width: 100%;
	background: #A03128;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#D15247) to(#A03128)); /*old webkit*/
    background: -webkit-linear-gradient(#D15247, #A03128); /*new webkit*/
    background: -moz-linear-gradient(#D15247, #A03128); /*gecko*/
    background: -ms-linear-gradient(#D15247, #A03128); /*IE10*/
    background: -o-linear-gradient(#D15247, #A03128); /*opera 11.10+*/
    background: linear-gradient(#D15247, #A03128); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#D15247, #A03128); /*PIE*/
    behavior: url(PIE.htc);
	height: 40px;
	padding: 0;
	margin: 0 auto;
	bottom: 0;
	position: absolute;
}

#footer {
	/* height: 40px; */
	/*background: #A03128;*/
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #D78983;
}

#footer a {
	color: #FFDBD9;
}