<!--yuetest-->
<events>
  <event>
    <title>event1</title>
    <start>2013-01-01</start>
  </event>
  <event>
    <title>event2</title>
    <start>2013-01-05</start>
    <end>2013-01-07</end>
  </event>
  <event>
    <title>event3</title>
    <start>2013-01-09 12:30:00</start>
    <end>2013-01-09 14:30:00</end>
    <allDay>false</allDay>
  </event>
</events>